#mypage {
    width: 1140px;
    margin: 50px auto;
    display: flex;
}

/** userInfo */
#userInfo {
    width: 35%;
    padding-top: 100px;
    margin-right: 50px;
}
#userProfileImage {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 10px #c0c0c0;
    background-color: #fff;
}
#userProfileImage > img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
#userNickname {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
#userNickname > img {
    width: 10px;
    height: 10px;
    margin-left: 5px;
}
#sellItemCount, #exchangeItemCount {
    border: 1px solid #d3d3d3;
    text-align: center;
    border-radius: 15px;
    font-size: 15px;
    margin: 10px 5px;
    padding: 5px 10px;
    font-weight: bold;
    box-shadow: 0px 1px 10px #c7c7c7;
    background-color: #fff;
}

/** itemInfo */
#itemInfo {
    position: relative;
    width: 65%;
    box-shadow: 5px 7px 5px #7c7c7c;
    border-radius: 0 5px 5px 10px;
    z-index: 100;
    border: 1px solid #707070;
    background-color: #fff;
}

#itemInfoInner, #itemProfileInner {
    text-align: left;
    padding: 20px 50px;
    height: 25rem;
}
#itemInfoInner {
    overflow-y: scroll;
}
#itemCategory {
    position: absolute;
    top: -41px;
    display: flex;
    left: -1px;
    user-select: none;
}
.category {
    text-align: center;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px 10px 0 0;
    border: 1px solid #707070;
    border-bottom: 0;
    cursor: pointer;
}
.category > p {
    color: #707070;
}
.clicked {
    background-color: #fff;
}
.clicked > p {
    color: #ff6356 !important;
}
/** itemList */
.itemDate {
    margin: 0;
    font-size: 13px;
    color: #797979;
    margin-bottom: 10px;
}
.item {
    display: flex;
    border-radius: 10px;
    margin-bottom: 35px;
    box-shadow: 0 2px 4px #9b9b9b;
}
.userFace {
    width: 80px;
}
.userFace > img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.userRelation {
    margin: 0 30px;
}
.itemLocation {
    display: flex;
    justify-content: flex-start;
}
.itemLocation > img {
    width: 10px;
    height: 30px;
    line-height: 30px;
}
.itemLocation > p {
    font-size: 5px;
    line-height: 30px;
    color: #797979;
}
.exchangeUser {
    display: flex;
    justify-content: center;
    align-items: center;
}
.exchangeUser > img {
    width: 30px;
    margin: 0 10px;
}
.exchangeUser > p, .exchangeUser > h1 {
    font-size: 20px;
}
.exchangeUser > h1 {
    font-weight: 500;
}
.exchangeUser > p {
    color: #ff6356;
    font-weight: 300;
}
.itemButton {
    display: flex;
    justify-content: center;
    align-items: center;
}
.forLeftBorder {
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    border-left: 1px solid black;
}
.itemButton > .forLeftBorder > button {
    border: 0;
    border-radius: 7px;
    height: 27px;
    width: 50px;
    margin: 0 10px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
.edit {
    border: 1px solid #575757 !important;
    color: #000;
    background-color: #fff;
}
.delete {
    background-color: #FF6356;
    color: #fff;
}
/**  */
#userProfile {
    border-bottom: 1px solid #707070;
    padding: 10px;
}
#userProfile > div {
    display: flex;
    margin-bottom: 40px;
}
#userProfile > div > div {
    display: flex;
    align-items: center;
    width: 100px;
    color: #0e0e0e;
    font-weight: normal;
}
#userProfile > div > input {
    width: 450px;
    color: #0e0e0e;
    font-weight: lighter;
    font-size: 13px;
    outline: none;
    border: 0;
}
#userProfile > div > input::placeholder {
    color: #f88379;
}
#editUserInfo {
    text-align: right;
}
#editUserInfo > button {
    background-color: #ff6356;
    color: #f9f9f9;
    border: 0;
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
    font-weight: 100;
    font-size: 15px;
    box-shadow: 0 0 3px #707070;
}
#editUserInfo > button > img {
    width: 10px;
    height: 10px;
    margin-left: 10px;
}















